<div>
  <%= link_to book_path(book.id) do %>
    <p><%= book.title %></p>
  <% end %>
  <p><%= book.body %></p>
  
  <% if @book.user == current_user %>
    <%= link_to "削除", book_path(@book), method: :delete %>
  <% end %>
</div>