<div class="container">
  <div class="row">
    <h1 class="px-3 mx-auto">
      welcome to
      <span class="svg-inline--fa fa-book fa-w-14"></span>
      <strong>Bookers</strong>
        !!
    </h1>
  </div>
</div>